*{
    border: 0px solid white;
}


body
{  
    background-color: white
}



#videoBG
{
    position: fixed;
    z-index: -99;
    
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#videoBG iframe
{
    width: 100%;
    height: 100%;
    border: 0;
}




#container
{
    position: relative;
    width: 60%;
    left: 40%;
    min-height: 400px;
    
    
}


#mig
{
    position: relative;
    color:white;
    left: 45%;
    width: 10%;
}

#hobby
{
    position: relative;
    color:white;
    left: 46%;
    width: 10%;
}

#kibk
{
    position: relative;
    left: 46%;
    color:white;
}

#game
{
    position: relative;
    left: 43%;
    color: white;
}

#musik2
{
    position: relative;
    left: 47%;
    color: white;
}

#jag
{
    position: relative;
    color: white;
    left: 30%;
    top: 20%;
    width: 40%;
}

#hobbys
{
    position: relative;
    left: 29%;
    color: white;
}


#innebandy
{
    position: relative;
    left: 30%;
    width: 40%;
    color: white;
}

#spela
{
    position: relative;
    left: 30%;
    width: 40%;
    color: white;
}

#musik
{
    position: relative;
    left: 30%;
    width: 40%;
    color: white;
}

#games
{
    position: relative;
    left: 29%;
    color: white;
}

#bandybild
{
    position: relative;
    width: 18%;
    left: 40%
}

#spelpc
{
    position: relative;
    left: 22%;
}

#musikbild
{
    position: relative;
    left: 38%;
}

#ranking
{
    position: relative;
    color: white;
    left: 43%;
}












